asp.net_mvc/MVC_Sandbox/packages/
asp.net_mvc/MVC_Sandbox/MVC_Sandbox/obj/
asp.net_mvc/MVC_Sandbox/MVC_Sandbox/fonts/glyphicons-halflings-regular.ttf
asp.net_mvc/MVC_Sandbox/MVC_Sandbox/fonts/glyphicons-halflings-regular.woff2
asp.net_mvc/MVC_Sandbox/MVC_Sandbox/fonts/
asp.net_mvc/MVC_Sandbox/MVC_Sandbox/Scripts/
asp.net_mvc/MVC_Sandbox/MVC_Sandbox/bin/
asp.net_mvc/MVC_Sandbox/.vs/MVC_Sandbox/v15/
asp.net_mvc/MVC_Sandbox/MVC_Sandbox/Content/
FrontJs/vuesandbox/node_modules/
FrontJs/vueify_tutorial/node_modules/
