@using System.Drawing
@model dynamic

@{
    ViewBag.Title = "holymosh";
}

<h1> Web <h2>мать <h3>вашу <h4> * ***<h5>***** <h6>***** * разработчик</h6></h5></h4></h3></h2></h1>
<img src="https://pp.userapi.com/c846419/v846419258/14ace/NA4bmWmZYvQ.jpg"/>
<a href="https://github.com/holymosh">my code</a>
